@forward "gwf-header";
@forward "gwf-buttons";
@forward "gwf-top-bar";
@forward "gwf-benefits-bar";
@forward "gwf-category-bar";
@forward "gwf-limited-offer";
@forward "gwf-shelf";
@forward "gwf-prod-gallery";
@forward "gwf-banner-grid";
@forward "gwf-banner-item";
@forward "gwf-banner-line";
@forward "gwf-menu-mobile";
@forward "gwf-minicart";
@forward "gwf-footer";
@forward "gwf-lgpd-bar";
@forward "gwf-floating-buttons";
@forward "gwf-newsletter";
@forward "gwf-shelf-prod";
@forward "gwf-shelf-tags";
@forward "gwf-breadcrumb";
@forward "gwf-verify-age";